html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(-45deg, #dcc8f5, #c2c7fb, #bbade0);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xxx-large;
    color: darkblue;
    display: inline;
    padding-left: 10px;
}

.topnav {
    overflow: hidden;
    padding: 10px;
    background-image: linear-gradient(45deg, #9b58f3, #747ffc, #7b58da);
    border-radius: 12px;
    top: 0;
    position: fixed;
    left: 0%;
    right: 0%;
    margin: 10px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 5px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: darkblue;
    color: white;
}

.main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
    margin-bottom: 75px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
    text-shadow: 1px 1px black;
    word-spacing: 2; 
}

.sectionGroup {
    display: flex;
    justify-content: center;
}

.sectionHeader {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: xx-large;
    color: darkblue;
    word-spacing: 2;
}

.sectionLine {
    width: 100%;
    margin: auto;
    height: 5px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    margin-left: 20px;
}

.section {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: x-large;
    color: darkblue;
    margin-bottom: 20px;
    margin-top: auto;
    margin-bottom: auto;
    word-spacing: 2;
    max-width: 900px;
    min-width: 250px;
}

.fadeContent {
    animation-name: contentFade;
    animation-delay: 0s;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

@keyframes contentFade {
    0%   {opacity: 0%;}
    50%  {opacity: 0%;}
    100% {opacity: 100%;}
}

.botnav {
    overflow: hidden;
    padding: 10px;
    bottom: 0;
    position: fixed;
    left: 0%;
    right: 0%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.botnav i {
    margin: 5px;
    padding: 10px;
    border-radius: 100%;
    display: inline-block;
}

.botnav i:hover{
    color: white;
    cursor: pointer;
}

.techSeal {
    height: 100%;
    width: auto;
}

.lc3Image {
    width: 300px;
    height: 400px;
    border-radius: 25px;
}