html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(-45deg, #ad7cee, #979ff3, #927cd1);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xxx-large;
    color: darkblue;
    text-shadow: 2px 2px grey;
    display: inline;
}

.topnav {
    overflow: hidden;
    padding: 10px;
    background-image: linear-gradient(45deg, #9b58f3, #747ffc, #7b58da);
    border-radius: 12px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: darkblue;
    color: white;
  }

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
    text-shadow: 1px 1px black;
    word-spacing: 2; 
}
  
.center {
    display: flex;
    justify-content: center;
}

.fadeContent {
    animation-name: contentFade;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes contentFade {
    0%   {opacity: 0%;}
    50%  {opacity: 0%;}
    100% {opacity: 100%;}
}